@model Task_Progress_Generate_HTTP_Links.Models.StatsViewModel
@{
    Layout = "_Layout";
}
<h1>Statistics for @Model.OriginalUrl</h1>

<h2>Unique visits per day</h2>
<ul>
    @foreach (var unique in Model.UniqueVisitsPerDay.OrderBy(k => k.Key))
    {
        <li>@unique.Key.ToString("yyyy-MM-dd") : @unique.Value</li>
    }
</ul>

<h2>Top 10 IP visitors</h2>
<ol>
    @foreach (var ip in Model.TopIds)
    {
        <li>@ip.Ip - @ip.Count visits</li>
    }
</ol>